<?xml version="1.0" encoding="utf-8"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="model_generic">
	<xacro:include filename="$(find gait1992_description)/description/model_generic/model_generic.urdf.xacro" />
	<xacro:a_human parent="subject_opensim" color="$(arg color)" />
	<xacro:include filename="$(find ximu3_ros)/urdf/ximu3.urdf.xacro" />
	<xacro:ximu_link_and_joint_floating parent="torso" origin="0 -0.1 0.3" />
	<xacro:ximu_link_and_joint_floating parent="pelvis" origin="0 -0.2 0" />
	<xacro:ximu_link_and_joint_floating parent="femur_l" origin="-0.05 0 -0.2" />
	<xacro:ximu_link_and_joint_floating parent="femur_r" origin="0.05 0 -0.2" />
	<xacro:ximu_link_and_joint_floating parent="tibia_l" origin="-0.05 0 -0.2" />
	<xacro:ximu_link_and_joint_floating parent="tibia_r" origin="0.05 0 -0.2" />
	<xacro:ximu_link_and_joint_floating parent="talus_l" origin="0 0.1 0" />
	<xacro:ximu_link_and_joint_floating parent="talus_r" origin="0 0.1 0" />

	<xacro:include filename="$(find moticon_insoles)/urdf/insoles.urdf.xacro" />
	<xacro:insole_link_and_joint jtype="floating" parent="$(arg left_name)" origin="0 0 0" stl_name="moticon_insole_size6_left.stl" side="left"/>
	<xacro:insole_link_and_joint jtype="floating" parent="$(arg right_name)" origin="0 0 0" stl_name="moticon_insole_size6_right.stl" side="right"/>

</robot>
